<ion-view view-title="{{navTitle}}">
  <!-- <div class="bar bar-subheader" style="margin:0px !important; padding:0px !important; margin-top:-2px !important">
  	<div class="searchTextProduct" style="margin-top:0px;" >
    		<div style="margin-top:-25px;">
                    <div class="inputTextDivSmall">
                        <div class="inputTextProductActive">
                            <input class="InputTypeLeft"  type="text" ng-keydown="blurSearch()" ng-model="postInput.Customer_company" placeholder="Search A Customer"  />
                            <img src="img/searchTextBox.png" style="width:100%" />
                        </div>
                    </div>
                    <div class="inputTextDivImage" align="left" >
                        <img src="img/searchIcon.png" style="width:70%;" />
                    </div>
            </div>
    </div>
  </div>-->
  
  
  <ion-content class="singleContent" style="background-color:#f4f4f4 !important;">
 
<!-- <ul class="button-scroller">
 	<li ng-class="item.isSelected == 1 ? 'infoItemSelected' : 'infoItem'"  ng-repeat="item in CompleteData" ng-click = "ChangeType($index)"><span ng-if="$index != 0">|</span>{{item.ProjectName}}</li>
 </ul>-->
 <div class="escalations"> 
 <div ng-repeat="item in CompleteData" ng-click = "ChangeType($index)"  ng-class="item.isSelected == 1 ? 'escalationsDVSelected' : 'escalationsDV'" > {{item.HpswVersion}}  </div> </div>

  <ion-slide-box    show-pager='false' on-slide-changed="slideHasChanged($index)">
  	 <ion-slide ng-repeat="item in CompleteData" >
          <div  ng-if="TypeTitle == 'Escalation'"  align="left"  ng-class="{'infoGreen': item.Escalation == 'Green' , 'infoRed': item.Escalation == 'Red',
              'infoYellow': item.Escalation == 'Yellow', 'infoGray': item.Escalation == '' } " style="width:{{screenWidth}}">
          	  <!-- <div class="rectengle">
              	<img src="img/r_yellow.png" style="width:45px;" />
          	  </div>-->
              <h3>{{SingleData.GlobalID}}</h3>
              <div>Excel-Report error : {{SingleData.Summary}}</div>
              <div>Status : {{SingleData.State}}</div>
              <div>Submit date : {{SingleData.SubmitDate}}</div>
              <div>Escalation status : {{SingleData.Escalation}}</div>
              <div>Fixing Risk : {{SingleData.Expectation}}</div>
          </div>
          
          <div  ng-if="TypeTitle == 'CRs' || TypeTitle == 'ERs'" align="left" ng-class="{'infoGreen': item.Escalation == 'Green' , 'infoRed': item.Escalation == 'Red',
              'infoYellow': item.Escalation == 'Yellow', 'infoGray': item.Escalation == '' } " style="width:{{screenWidth}}">
              <h3>{{SingleData.GlobalID}}</h3>
              <div>Summary: {{SingleData.Summary}}</div>
              <div>Expectation: {{SingleData.Expectation}}</div>
              <div>Status: {{SingleData.State}}</div>
              <div>Submit date: {{SingleData.SubmitDate}}</div> 
              <div>Escalation status: {{SingleData.Escalation}}</div>
              <div>Owner : {{SingleData.Submitter}}</div>
              <div>Source incident : {{SingleData.Source_incident_id}}</div>
          </div>
          
          <div  ng-if="TypeTitle == 'Support'"  align="left" class="infoGray" style="width:500px;">
              <h3>{{SingleData.GlobalID}}</h3>
              <div>Summary : {{SingleData.BriefDescription}}</div>
              <div>Priority : {{SingleData.PriorityCode}}</div>
              <div>Impact : {{SingleData.CurrentImpact}}</div>
              <div>Urgency : {{SingleData.Urgency}}</div>
              <div>Status: {{SingleData.Status}}</div>
              <div>Submit date: {{SingleData.OpenTime}}</div><!-- SubmitDate -->
              <div>Owner : {{SingleData.HpswAssigneeName}}</div>
              <div>customer contact : {{SingleData.ContactEmail}}</div>
         </div>
          
          
    </ion-slide>
 </ion-slide-box>
  <div class="slideText" if="!$scope.isLoading">
  	{{CurrentId}} out of {{Len}} >
  </div>
  </ion-content>
</ion-view>
