<ion-view view-title="<p class='HeaderTitle'>ADM Customers</p>" hide-back-button="true" hide-nav-bar="false">
  <div class="bar bar-subheader" style="margin:0px !important; padding:0px !important; margin-top:-2px !important">
  	<div class="searchTextProduct" style="margin-top:0px;" >
    		<div style="margin-top:-25px;">
                    <div class="inputTextDivSmall">
                        <div class="inputTextProductActive"> <!-- postInput.AccountName -->
                            <input class="InputTypeLeft"  id="test" type="text" ng-keypress="enterPress($event)" ng-keydown="blurSearch()" ng-model="CustomerSearch" placeholder="Search a customer"  />
                            <img src="img/searchTextBox.png" style="width:100%" />
                        </div>
                    </div>
                    <div class="inputTextDivImage" align="left" ng-click="UpdateCustomers()" >
                        <img src="img/searchIcon.png" style="width:70%;" />
                    </div>
            </div>
    </div>
  </div>

  <ion-content class="Content has-subheader" style="margin-top:10px;">
  	
		<div ng-if="Customers.length == 0">
		<img src="img/No-Search-Results.png" style="width:100%; height:100%;">
		</div>

    	<div collection-repeat="item in Customers | filter:postInput" class="customersList">
           
            	<a  href="#/app/single/{{item.AMID}}" style="overflow:hidden; width:100%;">
                    <div class="customersImage" align="center">
                        <div style="margin-top:18px;">
                        	<!-- <img ng-src="{{item.AccountType  && Host  item.AccountType || 'img/app_icon.png'}}"/> -->
                            <img ng-if="item.AccountType" src="{{Host}}{{item.AccountType}}" style="width:100%;" /> 
                            <img ng-if="!item.AccountType" src="img/CSG-PlaceHolder.png" style="width:100%;" /> 
                        </div>
                    </div>
                    <div class="customersInfo">
                       <h4>{{item.AccountName|cutString_TitlePage:true:20}}</h4>
                       <h5>{{item.Region}}</h5> 
                          <!--    <a href="{{Host}}{{item.AccountType}}">{{Host}}{{item.AccountType}}</a> 
                      <a href="http://54.164.168.168:8080/main_project/api/v1/viewer/customers/{{item.AMID}}"> <h5>{{item.AMID}}</h5>!--> 
                    </div>
                    
                </a>
               
            
             
         <div class="customersLine"></div>
        </div>
    
  </ion-content>
</ion-view>



