<ion-view  cache-view="false">
	<ion-nav-title class="HeaderTitle" style="width:500% !important; ">
      {{CustomerName}}
    </ion-nav-title>
	
	
<ion-header-bar align-title="left" class="bar-subheader" style="height:36px;" ng-if="TabSelected == 3">
<div style="width:100%; overflow:hidden">
  <div style="width:40%; float:left; margin-left:20px; font-size:20px;">
    ADM Products ({{ordersLenth}})
  </div>
  <div  style="width:40%; float:right; margin-right:5px; font-size:20px;  text-align:right ">
    Last purchased
  </div>
</div>
</ion-header-bar>      


  <div class="bar bar-footer" style="height:60px;">
  	<table class="singleFooter">
            	<tr align="center">
                	<td  ng-click="changeTab(1)" ng-class="TabSelected == 1 ? 'singleFooterTDSelected' : 'singleFooterTD'">
                    	Open Issues
                    </td>
                    <td  ng-click="changeTab(2)" ng-class="TabSelected == 2 ? 'singleFooterTDSelected' : 'singleFooterTD'">
                    	Contacts
                    </td>
                    <td  ng-click="changeTab(3)" ng-class="TabSelected == 3 ? 'singleFooterTDSelected' : 'singleFooterTD'"> 
                    	Products
                    </td>
                    <!-- <td  ng-click="changeTab(4)" ng-class="TabSelected == 4 ? 'singleFooterTDSelected' : 'singleFooterTD'">
                    	Interaction
                    </td>  60798d -->
                </tr>
       </table> 
  </div>
 
  <ion-content class="singleContent" >
  	<!--    Open Issues  -->
  	<div ng-if="TabSelected == 1 && !isLoad" style="padding-bottom:120px">
    	<div class="escalations">
        	<h3 ng-if="SupportIncidents">Incidents({{SupportIncidents.length}})</h3>
            <h3 ng-if="!SupportIncidents">Incidents(0})</h3>
            <h4 ng-if="SupportIncidents.length == 0">No escalations found</h4>
            <div class="escalationsDV" ng-repeat="item in SupportIncidents" ng-if="item.State != 'Closed'" ui-sref="app.details({CustumerId:'123', Type:'Escalation', IndexId: $index})" > 
            	<div style="position:relative">
                	<div ng-if="item.itemsCount > 1" class="countIcon12">
                		<span style="top:-3px; position:relative">{{item.itemsCount}}</span>
                	</div> 
            		<div>{{item.Name}}</div> 
                </div>
            </div>
        </div>
        
        <div class="escalations">
        	<h3 ng-if="SupportDefects">Defects({{SupportDefects.length}})</h3>
            <h3 ng-if="!SupportDefects">Defects(0)</h3>
            <div class="escalationsDV" ng-repeat="item in SupportDefects"   ui-sref="app.details({CustumerId: Id, Type: 'CRs', IndexId: $index})" > 
            	<div style="position:relative">
                	<div ng-if="item.itemsCount > 1" class="countIcon12">
                		<span style="top:-3px; position:relative">{{item.itemsCount}}</span>
                	</div> 
            		<div>{{item.Name}}</div> 
                </div>
            </div>
        </div>
        
        <div class="escalations">
        	<h3 ng-if="SupportEnhancements">Enhancement request({{SupportEnhancements.length}})</h3>
            <h3 ng-if="!SupportEnhancements">Enhancement request(0)</h3>
            <div class="escalationsDV" ng-repeat="item in SupportEnhancements" ui-sref="app.details({CustumerId: Id, Type: 'ERs', IndexId: $index})">
            	<div style="position:relative">
                	<div ng-if="item.itemsCount > 1" class="countIcon12">
                		<span style="top:-3px; position:relative">{{item.itemsCount}}</span>
                	</div> 
            		<div>{{item.Name}}</div> 
                </div>
            </div>
        </div>
        
         <div class="escalations">
        	<h3 ng-if="SupportCases">Support Cases({{SupportCases.length}})</h3>
            <h3 ng-if="!SupportCases">Support Cases(0)</h3>
            <div class="escalationsDV" ng-repeat="item in SupportCases" ng-if="item.Status != 'Closed1'" ui-sref="app.details({CustumerId: Id, Type: 'Support', IndexId: $index})">
            	<div style="position:relative">
                	<div ng-if="item.itemsCount > 1" class="countIcon12">
                		<span style="top:-3px; position:relative">{{item.itemsCount}}</span>
                	</div> 
            		<div>{{item.Name}}</div> 
                </div>
            </div>
        </div>
     </div>
     <div ng-if="TabSelected == 2" style="margin-top:-15px; padding-bottom:70px;">

			
     		<p class="contactTitle">HPE Stakeholders</p>
			

			<div ng-if="ContactsLenth == 0" style="padding:0px; margin:0px; width:106%; left:-3%; position:relative">
				<img src="img/No-Contacts.png" style="width:100%;">
			</div>

			
            <div class="contactRow" ng-repeat="item in Contacts">
            	<div class="contactLine" ng-if="$index != 0">
                </div>
            	<div class="contactIcon" align="center">
                	<div>
                		<img src="img/enIcon.png" style="width:100%" />
                        
                    </div>
                </div>
            	<div class="contactInfo">
                	<h3>{{item.salesRep}}</h3>
                    <h4>{{item.AMID}}</h4>
                </div>
                <div class="contactIcons">
                    <div class="contactMail" align="center">
                        <div ng-click="mailTo(contact.Mail)">
                            <img src="img/contactmail.png" style="width:100%" />
                        </div>
                    </div>
                    <div class="contactPhone" align="center">
                        <div ng-click="callTo(contact.Phone)">
                            <img src="img/cphone.png" style="width:100%" />
                        </div>
                    </div>
                </div>
            </div>
             
       		<p class="contactTitle" style="margin-top:-15px;">Customer Contacts</p>
            <div style="padding:0px; margin:0px; width:106%; left:-3%; position:relative">
				<img src="img/No-Contacts.png" style="width:100%;">
            </div>
     </div>
     
      <div ng-if="TabSelected == 3" style="margin-top:27px; padding-bottom:100px;">
      		<div ng-repeat="item in CustomerOrders">
           		<div class="customerDiv">
                    <div class="customersIcon" align="center">
                        <div style="width:80%">
                            <img src="{{Host}}{{item.ProductImage}}" style="width:100%" />
                        </div>
                    </div>
                    <div class="customersName" align="center">
                       	{{item.Family}}
                        <p></p>
                    </div>
                    <div class="customersDate" align="center">
                        {{item.Fiscal_Year_Quarter_Display_Code}}
                    </div>
                    <div class="customeLine" ng-if="$index != 0"> </div>
               </div>
            </div>
      </div>
  </ion-content>
</ion-view>
