/* Empty. Add your own CSS if you like */

@font-face {
    font-family: MetricLight;
    src: url(../font/MetricHPE-Web-Light.woff);
}


@font-face {
    font-family: MetricMedium;
    src: url(../font/MetricHPE-Web-Medium.woff);
}


@font-face {
    font-family: MetricRegular;
    src: url(../font/MetricHPE-Web-Regular.woff);
}


@font-face {
    font-family: MetricThin;
    src: url(../font/MetricHPE-Web-ThinItalic.woff);
}

@font-face {
    font-family: MetricBold;
    src: url(../font/MetricHPE-Web-Bold.woff);
}



body
{
	font-family:MetricRegular !important;
}

.Content
{
	
}

.HeaderTitle
{
	color:white;
	font-weight:bold;
	font-size:22px;
}

.searchTextProduct
{
	width:100%; 
	overflow:hidden;
	background-color:#20ce99;
	padding-bottom:7px;
}

.inputTextDivSmall
{
	width:90%;
	margin-left:20px;
	margin-top:30px;
	float:left;	
}

.inputTextProductActive
{
	width:100%;
}

.InputTypeLeft
{
	background-color:transparent;
	margin-bottom:-15px;
	width:100%;
	text-align:left;
	padding-left:25px !important;
	color:white !important;
	font-weight:bold;
}

.inputTextDivImage
{
	width:10%;
	float:right;
	margin-top:32px;
	right:5%;
	position:absolute;
}


.customersList
{
	width:100%; 
	overflow:hidden;
	padding:5px;
	margin-top:5px;
}

.customersInfo
{
	width:70%;
	float:left;
	padding-left:5px;
	margin-top:5px;
}

.customersInfo h5 
{
	margin-top:0px;
	font-size:16px;
	font-family:MetricRegular;
}

.customersLine
{
	width:100%;
	height:1px;
	background-color:#767676;
	margin-top:5px;
}

.customersImage
{
	width:20%;
	float:left;
}

.customersImage div
{
	width:90%;
}



/* Singl Page */

.singleContent
{
	padding:10px;
}

.escalations
{
	padding:5px;
	overflow:hidden;
}

.escalationsDV
{
	margin-top:12px;
	margin-left:0px;

	color:#999;
	float:left;
	
	border:1px solid #999;
	padding-left:4px;
	padding-right:4px;
	border-radius:8px;
	width:auto;
	margin:4px;
}

.escalationsRow
{
	border:1px solid #999;
	padding:4px;
	padding-top:0px;
	padding-bottom:0px;
	border-radius:10px;
	width:auto;
	margin:4px;
}

.escalationsDVSelected
{
	margin-top:12px;
	margin-left:0px;

	color:white;
	float:left;
	
	border:0px solid #999;
	padding-left:4px;
	padding-right:4px;
	border-radius:8px;
	width:auto;
	margin:4px;
	background-color:#00b388;
}

.Crs
{
	margin-top:20px;
}

.Crs h4
{
	margin-top:-8px;
	color:#999;
}


.bar-footer {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}




.footer
{
	position:fixed;
	bottom:0px
}

.singleFooter
{
	width:106%;
	margin-left:-3%;
}


.singleFooter tr
{
	width:103%;
}

.singleFooterTD
{
	border-top:1px solid #20ce99;
	border-bottom:none;
	padding:10px;
	color:#20ce99;
	padding-bottom:15px;
	font-size:15px;
}

.singleFooterTDSelected
{
	border-right:1px solid #20ce99;
	border-left:1px solid #20ce99;
	border-top:10px solid #20ce99;
	border-bottom:none;
	padding:10px;
	color:#20ce99;
	font-weight:bold;
	padding-bottom:15px;
	font-size:17px;
}

/* Info Page */

.infoGray
{
	background-color:#fafafa;
	color:#212121;
	padding:20px;
	margin-top:10px;
	font-size:22px;
	font-family: MetricLight;
	min-height:400px;
/*
border:1px solid #CCC;
	-moz-box-shadow: 3px 3px 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 9px 0px 5px #ccc; */
}



	


.infoGray div
{
	margin-top:16px;
	width:90%;
	
}


.infoItem
{
	font-size:17px;
	padding:3px;
	
	display: inline-block;
    vertical-align: top;
    height: 50px;
    white-space: normal;
    margin: 0 10px
}

.infoItemSelected
{
	background-color:#5a5a5a;
	padding:3px;
	color:white;
	
	display: inline-block;
    vertical-align: top;
    height: 50px;
    white-space: normal;
    margin: 0 10px
}


.slideText
{
	text-align:center;
	font-size:16px;
	margin-top:4px;
}

.contactTitle
{
	background-color:#a7a7a7;
	width:108%;
	position:relative;
	left:-4%;
	padding:2px;
	padding-left:10px;
	margin:0px;
	color:white;
}

.contactRow
{
	width:110%;
	overflow:hidden;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
	left:-5%;
	margin-top:5px;
}

.contactIcon
{
	float:left; 
	width:11%;
	padding:5px;
	margin-top:1px;
	margin-left:10px;
}

.contactIcon div
{
	width:85%;
}

.contactInfo
{
	width:60%;
	float:left;
}

.contactInfo h3
{
	font-size:17px;
	font-weight:bold;
}

.contactInfo h4
{
	font-size:15px;
	margin-top:-10px;
}

.contactLine
{
	width:110%;
	height:1px;
	background-color:#767676;
	position:relative;
	left:-5%;
	margin-bottom:15px;
}

.contactMail
{
	width:9%;
	float:left;
	margin-top:12px;
}

.contactMail div
{
	width:85%;
}

.contactPhone
{
	width:9%;
	float:left;
	margin-left:15px;
	margin-top:8px;
}

.contactPhone div
{
	width:85%;
}



.button-scroller
{
	height: 87px;
    -webkit-overflow-scrolling: touch;
    padding: 15px 15px 12px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
}

.buttonIcon
{
	 display: inline-block;
    vertical-align: top;
    height: 50px;
    white-space: normal;
    margin: 0 10px
}

.detailsLine
{
	width:100%;
	height:1px;
	background-color:#CCC;
	margin-bottom:3px;
	margin-top:13px;
}

.detailsDiv
{
	width:100%;
	padding:5px;
	font-size:16px;
	color:#444;
}

.detailsTitle
{
	font-size:18px;
	color:#666;
	font-weight:bold;
}





















































::-webkit-input-placeholder { color:#fff; opacity: 1 !important; }
:-moz-placeholder { color:#fff; !important; opacity: 1 !important;}
::-moz-placeholder {color:#fff; !important; opacity: 1 !important;}
:-ms-input-placeholder {color:#fff; !important; opacity: 1 !important;}
