<ion-view view-title="<p class='HeaderTitle'>ADM Customers</p>" hide-back-button="true" hide-nav-bar="false">
  <div class="bar bar-subheader" style="margin:0px !important; padding:0px !important; margin-top:-2px !important">
  	<div class="searchTextProduct" style="margin-top:0px;" >
    		<div style="margin-top:-25px;">
                    <div class="inputTextDivSmall">
                        <div class="inputTextProductActive">
                            <input class="InputTypeLeft"  type="text" ng-keydown="blurSearch()" ng-model="postInput.AccountName" placeholder="Search A Customer"  />
                            <img src="img/searchTextBox.png" style="width:100%" />
                        </div>
                    </div>
                    <div class="inputTextDivImage" align="left" >
                        <img src="img/searchIcon.png" style="width:70%;" />
                    </div>
            </div>
    </div>
  </div>

  <ion-content class="Content has-subheader" style="margin-top:10px;">
  	
    <ion-list>
    	<div collection-repeat="item in CustomersNames | filter:postInput" >
            <div ng-if="CustomersNames.length > 0" class="customersList" >
            	<a  href="#/app/single/{{item.AMID}}">
                    <div class="customersImage" align="center">
                        <div style="height:50px; margin-top:18px;">
                            <img src="{{Host}}{{item.AccountType}}" style="width:100%;" />
                        </div>
                    </div>
                    <div class="customersInfo">
                        <h4>{{item.AccountName}}</h4>
                        <h5>{{item.Region}}</h5>
                        <!-- <a href="http://54.164.168.168:8080/main_project/api/v1/viewer/customers/{{item.AMID}}"> <h5>{{item.AMID}}</h5>!--> 
                    </div>
                </a>
                <div class="customersLine"></div>
            </div>
             
          	<!-- <a href="{{Host}}{{item.AccountType}}">{{Host}}{{item.AccountType}}</a> -->
        </div>
    </ion-list>
  </ion-content>
</ion-view>



