<ion-view view-title="{{navTitle}}">
  <div class="bar bar-footer" style="height:60px;">
  	<table class="singleFooter">
            	<tr align="center">
                	<td  ng-click="changeTab(1)" ng-class="TabSelected == 1 ? 'singleFooterTDSelected' : 'singleFooterTD'">
                    	Open Issues
                    </td>
                    <td  ng-click="changeTab(2)" ng-class="TabSelected == 2 ? 'singleFooterTDSelected' : 'singleFooterTD'">
                    	Contacts
                    </td>
                    <td  ng-click="changeTab(3)" ng-class="TabSelected == 3 ? 'singleFooterTDSelected' : 'singleFooterTD'"> 
                    	Products
                    </td>
                    <!-- <td  ng-click="changeTab(4)" ng-class="TabSelected == 4 ? 'singleFooterTDSelected' : 'singleFooterTD'">
                    	Interaction
                    </td>-->
                </tr>
       </table>
  </div>
  
  <ion-content class="singleContent" >
  	<!--    Open Issues  -->
  	<div ng-if="TabSelected == 1 && !isLoad" style="padding-bottom:120px">
    	<div class="escalations">
        	<h3>Escalations({{SupportIncidents.length}})</h3>
            <h4 ng-if="SupportIncidents.length == 0">No escalations found</h4>
            <div class="escalationsDV" ng-repeat="item in SupportIncidents" ng-if="item.State != 'Closed'" ui-sref="app.details({CustumerId:'123', Type:'Escalation', IndexId: $index})" > {{item.HpswVersion}}  </div>
        </div>
        
        <div class="escalations">
        	<h3>CRs({{SupportDefects.length}})</h3>
            <div class="escalationsDV" ng-repeat="item in SupportDefects" ng-if="item.State != 'Fixed'"   ui-sref="app.details({CustumerId: Id, Type: 'CRs', IndexId: $index})" > {{item.HpswVersion}}  </div>
        </div>
        
        <div class="escalations">
        	<h3>ERs({{SupportEnhancements.length}})</h3>
            <div class="escalationsDV" ng-repeat="item in SupportEnhancements" ui-sref="app.details({CustumerId: Id, Type: 'ERs', IndexId: $index})">{{item.HpswVersion}}</div>
        </div>
        
         <div class="escalations">
        	<h3>Support Cases({{SupportCases.length}})</h3>
            <div class="escalationsDV" ng-repeat="item in SupportCases" ng-if="item.Status != 'Closed1'" ui-sref="app.details({CustumerId: Id, Type: 'Support', IndexId: $index})"> {{item.HpswVersion}} </div>
        </div>
     </div>
     <div ng-if="TabSelected == 2" style="margin-top:-15px;">
   
     		<p class="contactTitle">{{item.salesRep}}</p>
            <div class="contactRow" ng-repeat="item in Contacts">
            	<div class="contactLine" ng-if="$index != 0">
                </div>
            	<div class="contactIcon" align="center">
                	<div>
                		<img src="img/womenIcon.png" style="width:100%" />
                    </div>
                </div>
            	<div class="contactInfo">
                	<h3>{{item.salesRep}}</h3>
                    <h4>{{item.AMID}}</h4>
                </div>
                <div class="contactMail" align="center">
                	<div ng-click="mailTo(contact.Mail)">
                		<img src="img/mail.png" style="width:100%" />
                    </div>
                </div>
                <div class="contactPhone" align="center">
                	<div ng-click="callTo(contact.Phone)">
                		<img src="img/phone.png" style="width:100%" />
                    </div>
                </div>
            </div>
             
       
     </div>
  </ion-content>
</ion-view>
